numpy<2
pandas
pillow
tqdm
numba
torchvision
opencv-python
matplotlib
wholeslidedata<0.0.16
timm
torch
transformers
environs
sacremoses
einops
einops-exts
safetensors
scipy
SimpleITK
Pillow
llm_extractinator==0.4.2
dragon_baseline>=0.4.5
sentencepiece