omegaconf
torchmetrics==0.10.3
fvcore
iopath
xformers==0.0.18
huggingface-hub==0.20.2
h5py
numpy<2
pandas
pillow
tqdm
einops
webdataset
matplotlib
fairscale
wandb
timm>=1.0.3
packaging==23.2
ninja==1.11.1.1
transformers==4.36.2
torch
torchvision
opencv-python
wholeslidedata<0.0.16
dragon_baseline>=0.4.6
picai_prep>=2.1.13
sentencepiece
dynamic_network_architectures
llm_extractinator==0.4.2
lighter-zoo
environs
sacremoses
einops-exts
safetensors
scipy
SimpleITK
numba