numpy<2
pandas
pillow
tqdm
numba
torchvision
opencv-python==4.4.0.46
matplotlib
wholeslidedata
timm>=1.0.3
torch
transformers>=4.36.2
environs
sacremoses
einops
einops-exts
safetensors
scipy
SimpleITK
Pillow
llm_extractinator==0.4.2
lighter-zoo
xformers==0.0.30
dragon_baseline>=0.4.6
picai_prep>=2.1.13
sentencepiece
dynamic_network_architectures
omegaconf
torchmetrics
fvcore
iopath
huggingface-hub
h5py
webdataset
scikit-survival
scikit-learn
fairscale
packaging==23.2
ninja==1.11.1.1
